#{extends 'GildedRoseController/layout.html' /}

<div class="row">

    <div class="col-md-8">
        <h1>Welcome To Gilded Rose !</h1>
    </div>
    <div class="col-md-4 text-center"><h1>
        <a href="/@tests" class="btn btn-default btn-lg">Test Runner</a>
    </h1>
    </div>

</div>


<table class="table table-striped  table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quality</th>
        <th>Sell In</th>
    </tr>
    </thead>
    <tbody>
    #{list items:items, as: 'item'}
    <tr>
        <td>${item.name}</td>
        <td>${item.quality}</td>
        <td>${item.sellIn}</td>
    #{/list}
    </tbody>
</table>

<div class="row">
    <div class="col-md-8">
        <a href="@{GildedRoseController.iteration()}" class="btn btn-success">Update !</a>
    </div>

    <div class="col-md-4">
        <a href="@{GildedRoseController.killSession()}" class="btn btn-danger">Restart</a>
    </div>
</div>

