<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QUnit Example</title>
    <script src="@{'/public/javascripts/qunit.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/tests.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>

    <link rel="stylesheet" href="@{'/public/stylesheets/qunit.css'}">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<a href="@{GildedRoseController.javascriptVersion()}">Back To Gilded Rose</a>
</body>
</html>