#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">

    <h1>Trivial</h1>

    <div class="well">

        <form class="form-search" action="@{Application.add}" method="GET">
            <input type="text" class="input-medium search-query" name="player" placeholder="nom du joueur">
            <button type="submit" class="btn">Ajouter</button>
        </form>


        <form class="form-search" action="@{Application.roll}" method="get">
            <input type="text" class="input-medium search-query" name="roll" value="" placeholder="valeur du dès">
            <button class="btn">Lancer les dès</button>
        </form>
    </div>

    <div>


        <table class="table">
            <tr>
                <th>
                    Partie jouable
                </th>
                <td>

                #{if game.isPlayable()}
                    <span class="label label-success">${game.isPlayable()}</span>
                #{/if}
                #{else}
                    <span class="label label-important">${game.isPlayable()}</span>
                #{/else}
                </td>
            </tr>
            <tr>
                <th>
                    Nombre de joueurs
                </th>
                <td>
                    <span class="badge badge-info">${game.howManyPlayers()}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
